<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>[(site_name)] &raquo; [*pagetitle*]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  [[GetKeywords]]
  <style type="text/css">
    @import url('templates/AlexisProRedux/AlexisProRedux.css');
  </style>
</head>	

<body>
<table border="0" cellpadding="0" cellspacing="0" class="mainTable">
  <tr class="fancyRow">
    <td><span class="headers">&nbsp;<img 
      src="templates/AlexisProRedux/images/dot.gif" alt="" 
      style="margin-top: 1px;" />&nbsp;<a 
      href="[~[(site_start)]~]">[(site_name)]</a></span></td>
    <td align="right"><span class="headers">[[PageTrail]]</span></td>
  </tr>
  <tr class="fancyRow2">
    <td colspan="2" class="border-top-bottom smallText" 
      align="right">[[PoweredBy]]</td>
  </tr>
  <tr align="left" valign="top">
    <td colspan="2"><table width="100%" border="0" 
      cellspacing="0" cellpadding="1">
      <tr align="left" valign="top">
        <td class="w22"><table width="100%" border="0" 
          cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle" class="logoBox"><a 
              href="[~[(site_start)]~]"><img 
              src="templates/AlexisProRedux/images/logoGradient.jpg" 
              width="131" height="121" alt="" /></a></td>
          </tr>
          <tr>
            <td align="left" valign="top"><img 
              src="templates/AlexisProRedux/images/_tx_.gif" 
              height="4" alt="" /></td>
          </tr>
          <tr class="fancyRow2">
            <td align="left" valign="top" class="navigationHead">Navigation</td>
          </tr>
          <tr style="padding: 0px; margin: 0px;">
            <td align="left" valign="top" class="navigation" 
              style="padding: 0px; margin: 0px;"><img 
              src="templates/AlexisProRedux/images/_tx_.gif" 
              alt="" height="4" /><br />
              [!MenuBuilder?id=0!]<img src="templates/AlexisProRedux/images/_tx_.gif" 
              height="4" alt="" /></td>
          </tr>
        </table></td>
        <td class="pad" id="content">
          <h1>[*longtitle*]</h1>
          [*content*]</td>
      </tr>
    </table></td>
  </tr>
  <tr class="fancyRow2">
    <td class="border-top-bottom smallText">&nbsp;</td>
    <td class="border-top-bottom smallText" align="right">MySQL: 
      [^qt^], [^q^] request(s), PHP: [^p^], total: [^t^], 
      document retrieved from [^s^].</td>
  </tr>
</table>
</body>
</html>
